# Altera 2c20 board based pinout and definitions.
# This file uses quartus qsf file format for compose final config file.

# RS232 Port
set_location_assignment PIN_D1 -to uart_srx
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to uart_srx
set_location_assignment PIN_D2 -to uart_stx
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to uart_stx

# 50 Mhz Pin
set_location_assignment PIN_J15 -to clk
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to clk

# Reset pin. 
set_location_assignment PIN_A8 -to reset
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to reset

# SRAM pins
set_location_assignment PIN_C11 -to sram_dq[0]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[0]
set_location_assignment PIN_D11 -to sram_dq[1]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[1]
set_location_assignment PIN_D10 -to sram_dq[2]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[2]
set_location_assignment PIN_D9 -to sram_dq[3]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[3]
set_location_assignment PIN_D8 -to sram_dq[4]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[4]
set_location_assignment PIN_D7 -to sram_dq[5]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[5]
set_location_assignment PIN_D6 -to sram_dq[6]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[6]
set_location_assignment PIN_C6 -to sram_dq[7]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[7]
set_location_assignment PIN_B6 -to sram_dq[8]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[8]
set_location_assignment PIN_A6 -to sram_dq[9]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[9]
set_location_assignment PIN_B7 -to sram_dq[10]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[10]
set_location_assignment PIN_A7 -to sram_dq[11]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[11]
set_location_assignment PIN_A10 -to sram_dq[12]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[12]
set_location_assignment PIN_B10 -to sram_dq[13]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[13]
set_location_assignment PIN_A11 -to sram_dq[14]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[14]
set_location_assignment PIN_B11 -to sram_dq[15]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_dq[15]

set_location_assignment PIN_C15 -to sram_addr[0]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[0]
set_location_assignment PIN_C14 -to sram_addr[1]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[1]
set_location_assignment PIN_D14 -to sram_addr[2]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[2]
set_location_assignment PIN_C13 -to sram_addr[3]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[3]
set_location_assignment PIN_D13 -to sram_addr[4]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[4]
set_location_assignment PIN_D4 -to sram_addr[5]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[5]
set_location_assignment PIN_C4 -to sram_addr[6]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[6]
set_location_assignment PIN_D3 -to sram_addr[7]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[7]
set_location_assignment PIN_B3 -to sram_addr[8]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[8]
set_location_assignment PIN_C2 -to sram_addr[9]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[9]
set_location_assignment PIN_A3 -to sram_addr[10]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[10]
set_location_assignment PIN_B4 -to sram_addr[11]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[11]
set_location_assignment PIN_A4 -to sram_addr[12]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[12]
set_location_assignment PIN_B5 -to sram_addr[13]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[13]
set_location_assignment PIN_A5 -to sram_addr[14]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[14]
set_location_assignment PIN_B13 -to sram_addr[15]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[15]
set_location_assignment PIN_A14 -to sram_addr[16]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[16]
set_location_assignment PIN_B14 -to sram_addr[17]
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_addr[17]

set_location_assignment PIN_A12 -to sram_lb_n
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_lb_n
set_location_assignment PIN_B12 -to sram_ub_n
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_ub_n
set_location_assignment PIN_C12 -to sram_ce_n
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_ce_n
set_location_assignment PIN_A13 -to sram_oe_n
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_oe_n
set_location_assignment PIN_C5 -to sram_we_n
set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to sram_we_n
