[submodule "rtl/verilog/adv_debug_sys"]
	path = rtl/verilog/adv_debug_sys
	url = https://github.com/tinnnysu/adv_debug_sys.git
[submodule "rtl/verilog/or1200"]
	path = rtl/verilog/or1200
	url = https://github.com/tinnnysu/or1200.git
